@use "../../presets" as *;
@use "../../mixins" as *;

.case {
  padding-right: 36px;

  &__title {
    color: $color-black;

    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  &__image {
    margin-top: 20px;
  }

  &__logo {
    margin-top: 30px;
  }

  &__discription {
    max-width: 290px;
    margin-top: 11px;

    color: $color-black;

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &__link {
    margin-top: 15px;

    color: $color-black;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  &__border {
    &:after {
      display: none;

      height: 0.5px;

      content: "";

      background-color: #a0a0a0;

      @include lg-min {
        display: none;
      }
      @include lg {
        display: block;
      }
    }
  }
}
