@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: #eeeeee;
}

.help {
  margin-bottom: 77px;

  &__block {
    display: flex;
    justify-content: space-between;

    padding-top: 92px;

    @include lg-min {
    }
    @include lg {
      flex-direction: column;
    }
  }
}
