@use "../../presets" as *;
@use "../../mixins" as *;

.chief {
  margin-top: 70px;

  background-color: #c9e8f2;

  &__content {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 105px;

    @include lg-min {
    }
    @include lg {
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__main {
    margin-bottom: 23px;

    color: $color-black;
  }

  &__name {
    margin-bottom: 7px;

    color: $color-black;

    font-size: 15px;
    font-weight: 400;
  }

  &__image {
    margin-left: 85px;

    @include lg-min {
    }
    @include lg {
      margin-left: 0;
    }
  }
  &__quote {
    margin: 0;

    color: #000000;

    font-size: 30px;
    font-weight: 400;
    line-height: 40px;

    @include lg-min {
    }
    @include lg {
      margin-top: 10px;
    }
  }
}
