@use "../../presets" as *;
@use "../../mixins" as *;

.workers {
  &__title-main {
    padding-top: 114px;

    color: $color-black;

    font-size: 50px;
    font-weight: 600;
    line-height: 60px;

    @include lg-min {
    }
    @include lg {
      padding-top: 60px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__block {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    margin-top: 92px;
    padding-bottom: 150px;

    @include lg-min {
    }
    @include lg {
      flex-wrap: wrap;
    }
  }

  &__content {
    margin-left: 25px;

    @include lg-min {
    }
    @include lg {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-left: 0;
    }
  }

  &__image {
    margin-bottom: 67px;
  }

  &__title {
    margin-bottom: 29px;

    color: $color-black;

    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }

  &__discription {
    margin-bottom: 26px;

    color: $color-black;

    font-size: 20px;
    line-height: 30px;
  }

  &__link {
    color: #000000;

    font-size: 20px;

    text-decoration-line: underline;
  }

  span {
    text-decoration: underline;
  }
}
