@use "../../presets" as *;
@use "../../mixins" as *;

.rated {
    background-color: #dabc98;

    &__content {
        display: flex;
        padding-top: 69px;
        align-items: center;
        padding-bottom: 80px;
    }

    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: $color-black;
        margin: 0px 67px 0px 115px;
    }

    &__block {
        margin-left: 70px;
    }


    &__star {
        margin-top: 20px;
    }

    &__discription {
        margin-top: 14px;
    }
}