@use "../../presets" as *;
@use "../../mixins" as *;

.app1 {
  display: block;

  margin: 0 55px 0 55px;

  grid-area: rer1;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.app2 {
  margin: 0 55px 0 55px;

  grid-area: rer2;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.app3 {
  margin: 0 55px 0 55px;

  grid-area: rer3;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.app4 {
  margin: 0 55px 0 55px;

  grid-area: rer4;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.app5 {
  margin: 0 55px 0 55px;

  grid-area: rer5;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.app6 {
  margin: 0 55px 0 55px;

  grid-area: rer6;

  &__image {
    margin-bottom: 21px;

    text-align: center;
  }

  &__title {
    margin-bottom: 21px;

    text-align: center;

    color: $color-black;

    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
  }

  &__description {
    margin-bottom: 30px;

    text-align: center;

    color: $color-black;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}
