@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
  flex-grow: 1;

  justify-self: flex-start;
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;

    @include xl-min {
      gap: 22px;
    }
    @include xl {
      gap: 15px;
    }
    @include unlist;
  }



  &__link {
    display: block;

    @include xl-min {
      padding: 10px;
    }
    @include xl {
      padding: 7px;
    }
  }
}
